.home {
    display: flex;
    flex-direction: column;

    gap: 40px;
    height: 100%;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    width: 100%;
    height: 100%;
}

#main > * {
    min-width: 300px;
    width: 500px;

    margin: 20px;
    padding: 20px 10px;
    border-radius: 20px;

    background-color: var(--main-shadow);;
}

.rules ul {
    color: var(--text-color);
    list-style-position: inside;
    padding: 0 0 0 5px;
}

.rules ul li::marker {
    color: white;
    font-size: 12px;
}

.title {
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav .links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.links div {
    text-align: center;
}

.link {
    background-color: #07080a;
    border-radius: 20px;
    text-align: center;
}

.link span {
    color: white;
    background-color: #07080a;
    border-radius: 20px;
    
    font-size: 18px;

    padding: 5px 10px;
}