.page {
    display: flex;
    flex-direction: column;
    gap: 20px;

    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;

    text-decoration: none;
    color: white;
}

body, html, #root { 
    width: 100%;
    height: 100%;
}

body {
    background-color: #282c34;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}